body{
	margin: 0;
	padding: 0;
	clear: both;
}

h1{
	color: #fff;
	text-align: center;
    text-transform: uppercase;
    background-color: #009688;
    margin: 0;
}

h2{
	color: #00BCD4;
	text-align: center;
    text-transform: capitalize;
    margin: 0.5rem auto 0.5rem;
}